html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    background-color: #DDFFFF;
}


#container {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

.crow {
    background-color: #EEEEEE;
    width: calc(100% - 18px);
    min-height: 24px;
    padding: 8px;
    font-size: 1.5rem;
    border: 1px solid gray;
    position: relative;
    display: flex;
}

    .crow span {
        margin-right: 8px;
    }

    .crow label {
        flex-grow: 1;
    }
    .crow label.nogrow {
        flex-grow: 0;
    }

    .crow input {
        flex-grow: 1;
        min-width: 1px;
        border: 0;
        font-size: 1.2rem;
    }

        .crow input[type=checkbox], 
        .crow input[type=radio] {
            flex-grow: 0;
            height: 2rem;
            width: 2rem;
            margin: 0 16px;
        }

.cbtns {
    width: 100%;
    padding: 0;
    display: flex;
}

.cbtn {
    width: 100%;
    padding: 8px;
    min-height: 32px;
    font-size: 2rem;
    border: 1px solid darkgray;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .cbtn.warn {
        color: red;
    }

        .cbtn.warn:disabled {
            color: gray;
        }

#result {
    width: calc(100% - 10px);
    padding: 4px;
    min-height: 12rem;
    font-size: 1.2rem;
    overflow: scroll;
}

em > b {
    color: red;
    text-decoration: underline;
}

.ver {
    font-size: 0.45em;
    vertical-align: baseline;
}

.hide {
    display: none;
    visibility: hidden;
}

.numeric{
    text-align: right;
    font-family: MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", SFMono-Regular, "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input.large{
    font-size: 2.5rem;
}

input[readonly]{
    background-color: rgba(0,255,128,0.1)
}

input.dummy {
    flex: 0 0 0;
}
